body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 20px 0;
  color: #333;
}

/* Form styling */
#form {
  display: none;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

#form input {
  width: calc(100% - 22px);
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #872424;
  border-radius: 4px;
}

#form button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#form button:hover {
  background-color: #0056b3;
}

/* Top navigation styling */
.topnav {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 10px;
  margin-bottom: 20px;
}

.topnav p, .topnav button, .topnav .text {
  margin: 0 10px;
  color: rgb(142, 39, 39);
  font-size: 16px;
  cursor: pointer;
}

.topnav .text {
  width: 200px;
  padding: 5px;
  border-radius: 4px;
  border: none;
  outline: none;
}

.topnav button {
  background-color: #007bff;
  padding: 10px;
  border-radius: 4px;
  border: none;
  transition: background-color 0.3s;
}

.topnav button:hover {
  background-color: #0056b3;
}

/* Car display styling */ */
#car {

  padding: 20px;
  margin: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

#all {

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.all:hover {
  transform: translateY(-5px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.all img {
  max-width: 100%;
  height: auto;
  border-radius: 4px;
  margin-bottom: 10px;
}

.all button {
  background-color: #dc3545;
  color: white;
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.all button:hover {
  background-color: #c82333;
}



  .topnav {
      flex-direction: column;
  }

  .topnav p, .topnav button, .topnav .text {
      margin: 10px 0;
  }

  .car{
    width: 300px;
    margin: 20px;
    padding: 15px;
    background-color: #757272;
  }